[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
solana_anchor_program = "BUQFRUJECRCADvdtStPUgcBgnvcNZhSWbuqBraPWPKf8"

[programs.devnet]
solana_anchor_program = "BUQFRUJECRCADvdtStPUgcBgnvcNZhSWbuqBraPWPKf8"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "mainnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
init = "npx ts-node scripts/init.ts"
initTreasury = "npx ts-node scripts/initTreasury.ts"
updateConfig = "npx ts-node scripts/updateConfig.ts"